<ion-header>
  <ion-toolbar>
    <ion-title>Mascotas en adopción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card [routerLink]="['/info-adopcion']">
    <ion-card-header>
      <ion-card-subtitle>Caniche</ion-card-subtitle>
      <ion-card-title>Max</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/perro1.jpg" />
      <br>
     
    </ion-card-content>
  </ion-card>


  <ion-card [routerLink]="['/infoadopcion2']">
    <ion-card-header>
      <ion-card-subtitle>Mestizo</ion-card-subtitle>
      <ion-card-title>Lucas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/perro2.jpg" /> <br>
      
    </ion-card-content>
  </ion-card>

</ion-content>
