<ion-header>
  <ion-toolbar>
    <ion-title>Datos Adopciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <ion-list-header>Formulario para dar en adopción</ion-list-header> -->
    <ion-item>
      <ion-input  type="text" placeholder="Nombres" align="center" readonly> </ion-input>
      <ion-input  type="text" value="Lola" align="center" readonly> </ion-input>
    </ion-item>
    <ion-item>
      <ion-input  type="text" placeholder="Apellidos" align="center" readonly> </ion-input>
      <ion-input  type="text" value="Rodrigez Lopez" align="center" readonly> </ion-input>
    </ion-item>
    <ion-item>
      <ion-input  type="text" placeholder="Edad" align="center" readonly> </ion-input>
      <ion-input  type="text" value="21 años" align="center" readonly> </ion-input>
    </ion-item>
    <ion-item>
      <ion-input  type="text" placeholder="Ocupación" align="center" readonly> </ion-input>
      <ion-input  type="text" value="Ing. Fisico" align="center" readonly> </ion-input>
    </ion-item>
    <ion-item>
      <ion-input  type="text" placeholder="Dirección" align="center" readonly> </ion-input>
      <ion-input  type="text" value="Conocoto" align="center" readonly> </ion-input>
    </ion-item>
    <ion-item>
      <ion-input  type="text" placeholder="Correo" align="center" readonly> </ion-input>
      <ion-input  type="text" value="lrodri@gmail.com" align="center" readonly> </ion-input>
    </ion-item>
    <ion-item>
      <ion-input  type="text" placeholder="Teléfono" align="center" readonly> </ion-input>
      <ion-input  type="text" value="092547874" align="center" readonly> </ion-input>
    </ion-item>

    <ion-item>
      <ion-input  type="text" placeholder="Tipo de Vivienda: " align="center" readonly> </ion-input>
      <ion-input  type="text" value="Casa" align="center" readonly> </ion-input>
    </ion-item>

    <ion-item>
      
      <ion-input  type="text" placeholder="Disponibilidad" align="center" readonly> </ion-input>
      <ion-input  type="text" value="3 a 4 horas" align="center" readonly> </ion-input>
        
      
    </ion-item>

    <ion-item>
      <ion-input  type="text" placeholder="Adoptar a: " align="center" readonly> </ion-input>
      <ion-input  type="text" value="LUCAS" align="center" readonly> </ion-input>
    </ion-item>

  </ion-list>
</ion-content>
