<ion-header>
  <ion-toolbar>
    <ion-title style="background-color: black; color:white" size="small" class="title-large" text-center>Tu solicitud ha sido enviada exitosamente, nos comunicaremos con usted muy pronto.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
 
  <img width="300px" height="300px" src="assets/enviarFormulario.jpg" />
  <section class="full-h">
    <ion-button expand="full" color="primary" [routerLink]="['/home']">Menú principal</ion-button>
  </section>
</ion-content>