<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <section style="margin-top: 50%;">
      <h2 align="center">¡Bienvenidos!</h2>
        <img src="assets/icono.jpg" style="height:100px ;margin-left: 36%;">
        <ion-item>       
          <ion-input [(ngModel)]="usuario.email" type="text" placeholder="Correo electrónico" align="center"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="usuario.password" type="password" placeholder="Contraseña" align="center"></ion-input>
        </ion-item>
    </section>
    <section class="full-h">
      <ion-button style="margin-left: 39%;" color="primary" (click)="validar()">Ingresar</ion-button>
    </section>
    <section>
      <ion-button [routerLink]="['/registrar-usuario']">
        Registrarse
      </ion-button>
    </section>
</ion-content>
