<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Puestos en Adopción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-header>
      
      <ion-card-title>Juan Perez Martinez</ion-card-title>
      <ion-card-subtitle>23 años, 1702081893</ion-card-subtitle>


    </ion-card-header>
  
    <ion-list>
      <ion-item>
          <ion-button expand="full" color="primary" [routerLink]="['/datos-puesto-adopcion-persona']">Info Personal</ion-button>
          <ion-button expand="full" color="primary" [routerLink]="['/datos-puesto-adopcion-mascota']">Info Mascota</ion-button>
      </ion-item>
    </ion-list>
    
     </ion-card>

    
</ion-content>
