<ion-header>
  <ion-toolbar>
    <ion-title>LUCAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <!-- <ion-list-header>Formulario para dar en adopción</ion-list-header> -->
    <ion-item>
      <img src="assets/perro2.jpg" /> <br>
    
    </ion-item>
    <ion-item>
      <ion-input  type="text" placeholder="Raza" align="center" readonly> </ion-input>
      <ion-input  type="text" value="Mestizo" align="center" readonly> </ion-input>
    </ion-item>
    <ion-item>
      <ion-input  type="text" placeholder="Edad" align="center" readonly> </ion-input>
      <ion-input  type="text" value="1 año" align="center" readonly> </ion-input>
    </ion-item>

    <ion-item>
      <ion-input  type="text" placeholder="Tamaño" align="center" readonly> </ion-input>
      <ion-input  type="text" value="44 cm" align="center" readonly> </ion-input>
    </ion-item>
    <ion-item>
      <ion-input  type="text" placeholder="Vacunas" align="center" readonly> </ion-input>
      <ion-input  type="text" value="Moquillo, Rabia " align="center" readonly> </ion-input>

      
    </ion-item>
    

   
    <section class="full-h">
      <ion-button expand="full" color="primary" [routerLink]="['/formulario-adopcion']">Adóptame</ion-button>
    </section>
  </ion-list>

  
</ion-content>
