<ion-header [translucent]="true">
  <ion-toolbar>
    <img  style=" margin-left:30px ;margin-top: 30px" width="150px" src="assets/logo1.png">
    <div *ngFor="let user of dataLocal.propietario">
      <ion-label>Bienvenido/a {{user.nombres}} {{user.apellidos}}</ion-label>
    </div>
  <!-- <ion-chip style="margin-left: 60%;"class="logIn"[routerLink]="['/log-in']">
    <ion-avatar>
      <img src="assets/usuario.png">
    </ion-avatar>
    <ion-label>Iniciar Sesión</ion-label>
  </ion-chip> -->
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="full-h">
    <ion-button (click)="cerrar()" expand="full">Cerrar sesión</ion-button>
  </section>
  <ion-toolbar>
    <ion-title style="margin-left: 5%;" size="BIG" class="title-large" text-center>Ayúdanos a ayudar</ion-title>
  </ion-toolbar>
  <section class="full-h">
   
  </section>
  <ion-card [routerLink]="['/datos-adopcion']">
    <img src="assets/adoptar.jpg"/>
    <ion-card-header>
      <ion-card-title style="background-color: black; color:white" id="titulos-home">Adopta aquí</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card [routerLink]="['/formulario-mascota']">
    <img src="assets/darAdopcion.jpg"/>
    <ion-card-header>
      <ion-card-title style="background-color: black; color:white" id="titulos-home">Da en adopción aquí</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card [routerLink]="['/mostrar-mascotas']">
    <img src="assets/misMascotas.jpg"/>
    <ion-card-header>
      <ion-card-title style="background-color: black; color:white" id="titulos-home">Mis mascotas</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
